@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');* {
    margin: 0;
    padding: 0;
}
.topbar {
    background-color: #24292e;
    color: #f6f6f6;
    font-family: 'Montserrat', sans-serif;
    display: flex;
}
.head-logo {
    flex: 2;
}
.head-logo img {
    margin-left: 2rem;
    vertical-align: middle;
    width: 60px;
}

/* Humberger span */
.navbar {
    display: flex;
}
.humberger {
    display: none;
    cursor: pointer;
    padding: 1rem 2rem;
}
.humberger span {
    width: 28px;
    height: 3px;
    display: block;
    background-color: #f6f6f6;
    margin: 6px 0;
    transition: 0.5s all;
}
.humberger.active span:nth-child(1) {
    
  -webkit-transform: rotate(-45deg) translate(-6px, 6px) ;
  transform: rotate(-45deg) translate(-6px, 6px) ;
}
.humberger.active span:nth-child(2) {
    opacity: 0;
}
.humberger.active span:nth-child(3) {
    -webkit-transform: rotate(45deg) translate(-7px, -7px);
    transform: rotate(45deg) translate(-7px, -7px);
}
/* navigation bar */

.navbar .list-items{
    display: flex;
}
.navbar .list-items li {
    list-style-type: none;
    padding: 1rem 2rem;
}
.navbar .list-items li img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.navbar .list-items a {
    text-decoration: none;
    vertical-align: middle;
    color: #f6f6f6;
    font-weight: 600;
    font-size: 1.4rem;
    margin-left: 12px;
}


@media (max-width: 640px) {
    .humberger {
        display: block;
    }
    .navbar .list-items{
        background-color: #24292e;
        position: fixed;
        top: 60px;
        right: -300px;
        width: 200px;
        bottom: 0;
        display: block;
        transition: 0.4s all;
    }
    .navbar .list-items.active {
        right: 0;
    }
    .navbar .list-items li {
        border-bottom: 1px solid #555555;
    }
}